# Secrets
config/secrets.yaml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# DLT
.dlt/
dlt_pipeline_dir/
*.duckdb

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py
standalone_admin_password.txt

# Docker / local data
mssql_data/
postgres_data/

# Editor
.vscode/
.idea/
*.swp
.DS_Store
